name: Submit Application

on:
  push:
    branches: [master]

jobs:
  submit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests

      - name: Run submission script
        env:
          B12_SECRET: ${{ secrets.B12_SECRET || 'g3t_m3_0n_th3_t3am_and_l3t5_bu1ld_gr3at_5tuff!'}}
        run: python submit_application.py
